body {
     background-color: black;
}
.container {
    padding: 20px 30px;
    position: relative;
   
}
.container div {
    width: 200px;
    height: 200px;
    background-color: navy;
    margin: 16px; 
     /* margin-left: 320px; */
    /* transition: margin-left 3s; */
}
 

.anim_btn {
    width: 300px;
    height: 100px;
    padding: 20px;
    transition: background-color 2s, border-radius ease-in-out 5s;
    background-color: blueviolet;
    color: #FFF;
    font-size: 16px;
    position: relative;
    left: 300px;
}


.anim_btn:hover {
    background-color: rgb(41, 6, 73);
    border-radius: 50px;
}

.item1 {
    animation: move 3s linear 0s infinite reverse;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(200px);
    }
    50% {
        transform: translateY(200px);       
    }

    75% {
        transform: translateX(200px)  translateY(200px);       
    }
    
    

    100% {
        transform: translateX(0px);
    }
}


.error-404 {
        font-weight: 700;
        font-size: 20em;
        margin: 10% 0 30px;
        font-family: "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        transform: rotateX(17deg) rotateY(9deg);
        transform-style: preserve-3d;
        animation: fa-author-colors 25s infinite;
        color: #eeca2b;
      }

@keyframes fa-author-colors {
        0% { transform: rotateX(17deg) rotateY(9deg); }
        10% { transform: rotateX(27deg) rotateY(0deg); }
        30% { transform: rotateX(37deg) rotateY(19deg); }
        50% { transform: rotateX(-57deg) rotateY(9deg); }
        70% { transform: rotateX(20deg) rotateY(-10deg); }
        90% { transform: rotateX(17deg) rotateY(9deg); }
        100% { transform: rotateX(-32deg) rotateY(19deg); }
      }

/* .item1  {   
   transform: scale(2, .8 )
} */
/* .item1 {
    transition-timing-function: ease;
    transition-duration: 5s;
}

.item2 {
    transition-timing-function: ease-in;
    transition-duration: 5s;
}

.item3 {
    transition-timing-function: ease-out;
    transition-duration: 5s;
}

.item4 {
    transition-timing-function: cubic-bezier(.22,2.12,1,-0.84);
    transition-duration: 5s;
} */



      .img { 
        margin: 200px;
    width: 310px;
    height: 360px;
    border-radius: 150px;
    cursor:pointer;
    transition: 1s;
    filter: grayscale(100%);
}

.img:hover {
    transform: scale(1.5);
    filter: grayscale(0%);
    
}