* {
    box-sizing: border-box;
}

.block-auth {
    border: 1px solid rgba(138, 26, 26, .5); /* rgb 0-255  0 - FF*/
    min-width: 360px;
    max-width: 360px;
    padding: 50px 50px;
    margin: 10% auto;
    border-radius: 5px;
}

form {
    width: 100%;
}

label {
    margin: 20px 0;
    display: block;
    padding: 0;
}

input {
    margin-top: 7px;
    width: 100%;
    padding: 7px 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button[type="submit"] {
    margin: 0 auto;
    display: block;
    background-color: #0062fa;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    font-size: 14pt;
}

.title {
    font-size: 20pt;
}