body {
  background-color: #1c1b21;
  color: #fafafa;
  font-size: 55px;
}

.container {
  margin-top: 50px;
  border: 10px solid #6c38cc;
}

.item {
  background-color: #232228;
  border: 1px solid #6c38cc;
  text-align: center;
  padding: 10px;
}
