* {
  box-sizing: border-box;
}

body {
  background-color: #1c1b21;
  color: #fafafa;
  font-size: 55px;
  margin-left: 50px;
}

.container {
    margin-top: 50px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr auto;
   
    /* grid-auto-flow: row; */

    gap: 50px 30px;

    height: 100vh;
}

.item {
    border: 2px solid rgb(113, 0, 128);
    text-align: center;
    overflow: hidden;
}
