/* @font-face {
    font-family: "Roboto", sans-serif;
    src: url("/css/fonts/Roboto-VariableFont_wdth\,wght.ttf"),
    url("/css/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf");

} */

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

html {
    font-size: 16px;
}
.test-green {
    background-color: rgb(15, 119, 46);
}

.test-red {
    background-color: #375151;
}

.border {
    border: 1px solid navy;

}


.red {
   background-color: red; 
}

.green {
   background-color: green; 
}
.blue {
   background-color: blue; 
}



div {
    width: 200px;
    height: 150px;
}

.green, .blue, .red {
    display: inline-block;
    margin: 30px 20px;
}

span::after {
    content: "!";
}
span::before {
    content: "!";
}

.main {
    width: 100%;
    margin: 10px;
    border: 1px solid navy;
    height: 200px;
}

.static {
    position: static;
    top: 20px;
}

.relative {
    position: relative;
    top: -60px;
    left: 300px;
    z-index: -1;
}

.absolute {
    position: absolute;
    top: 60px;
    left: 300px;
}

.main-relative {
    position: relative;
}

.fixed {
    position: fixed;
    top: calc(100vh - 100px);
    left: calc(100vw - 100px);

    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.main-sticky {
    height: 600px;
}

.sticky {
    top: 20px;
    position: sticky;

}


.relative-red {
    z-index: -3;
    left: 450px;
    top: -100px;
}

.d-login {
    position: relative;
}


.d-login label {
    position: absolute;
    left: 10px;

}


.d-login input {
    padding: 25px 7px 7px;
    border: none;
    width: 100%;
}
.d-login input:focus {
    border: none;
}

.l-border {
    position: absolute;

    height: 1px;
    border: 1px solid navy;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    top: 45px;
}


.d-rem {
    width: 100%;
    height: 100vh;
    font-size: 20px;
}

.d-rem h2 {
    font-size: 3em;
}
.d-rem span {
    font-size: 1.5em;
}


.d-rem li {
    font-size: 1.5em;
}


.d-rem button {
    font-size: 1.5em;
    padding: 1.2rem 2em;
    border-radius: 1em;

}


@media (min-width: 1400px) {
    .d-rem {
        font-size: 25px;
    }
}

@media (max-width: 720px) {
    .d-rem {
        font-size: 14px;
    }

    h2 {
        color: red;
    }
}

@media (max-width: 360px) {
    .d-rem {
        font-size: 9px;
    }

    h2 {
        color: green;
    }
}





